<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap link, if desired -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- connect to static folder css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <header class="navbar">
        <div class="title">
            <h1>Sasquatch Websighting</h1>
        </div>
        <div class="user">
            <h2>{{user.first_name}} {{user.last_name}}</h2>
            <div class="links">
                <a href="/new/sighting" class="btn btn-primary">Report a Sighting</a>
                <a href="/logout" class="btn btn-primary">Logout</a>
            </div>
        </div>
    </header>
    <main>
        <div class="alert">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="alert alert-success">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="col read-msg">
            <h3>{{len()}} Message(s) for You</h3>
        </div>
        <div class="col send-msg">
            <h3>Send Messages</h3>
            <h6>You have sent {{msg-count}} messages so far</h6>
            <div class="send-form">
                <label for="JD">JD</label>
                <textarea name="JD" cols="10" rows="4"></textarea>
                <input type="submit" value="Send" class="btn btn-success">
            </div>
            <div class="send-form"></div>
            <div class="send-form"></div>
            <div class="send-form"></div>
        </div>
    </main>
    <footer></footer>
</body>
</html>