<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap link, if desired -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- connect to static folder css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <header class="navbar">
        <div class="title">
            <h4>Coding Dojo Wall</h4>
        </div>
        <div class="title-links">
            <h4>Welcome, {{user.first_name}}!</h4>
            <a href="/logout">Logout</a>
        </div>
    </header>
    <main>
        <div class="alert">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="alert alert-success">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="container">
            <div class="row justify content around">
                <div class="col-lg read-msg">
                    <h3> Message(s) for You</h3>
                </div>
                <div class="col-lg send-msg">
                    <h3>Send Messages</h3>
                    <h6>You have sent __ messages so far</h6>
                    <form action="/post-msg" class="form-inline">
                        <label for="JD">JD</label>
                        <textarea name="JD" cols="20" rows="1"></textarea>
                        <input type="submit">
                    </form>
                    <form action="" class="form-inline"></form>
                    <form action="" class="form-inline"></form>
                    <form action="" class="form-inline"></form>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>